<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EmpMapper">

<!--    抽取sql片段-->
    <sql id="commonSelect">
        select id,
               username,
               name,
               gender,
               image,
               job,
               entryDate,
               dept_id,
               update_time,
               create_time
        from emp
    </sql>
    <update id="dynamicUpdate">
        update emp
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="entryDate != null">
                entryDate = #{entryDate},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>
    <!--    resultType: 单条记录所封装的类型-->
    <select id="list" resultType="com.example.pojo.Emp">
# 引用sql片段
        <include refid="commonSelect"/>
        <where>
            <if test="name != null">
                name like concat('%', #{name}, '%')
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                and entryDate between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
    </select>
<!--批量删除员工-->
<!--    connection: 需要便利的集合 item：便利的元素 separator： 分隔符，open：遍历开始拼接的sql语句，close：遍历结束后拼接的sql片段-->
    <delete id="deleteByIds">
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>